
#confirm_delete_yes{
	border: solid 1px #adadad;
	background-color: #fff;
	border-radius: 3px;
	-webkit-transition: border-color .7s,background-color .8s, color .7s;
  	-moz-transition: border-color .7s,background-color .8s, color .7s;
  	-o-transition: border-color .7s,background-color .8s, color .7s;
  	transition: border-color .7s,background-color .8s, color .7s;
}
#confirm_delete_yes:hover{
	/*background-color: lightgreen;*/
	border-color: green;
	color: green;
}
#confirm_delete_no{
	border: solid 1px #adadad;
	background-color: #fff;
	border-radius: 3px;
	-webkit-transition: border-color .7s,background-color .8s, color .7s;
  	-moz-transition: border-color .7s,background-color .8s, color .7s;
  	-o-transition: border-color .7s,background-color .8s, color .7s;
  	transition: border-color .7s,background-color .8s, color .7s;
}
#confirm_delete_no:hover{
	/*background-color: #F76666;*/
	border-color: red;
	color: red;
}

.error{
	visibility: hidden;
	position: absolute;
	bottom: -92px;
	right: 27%;
	color: red;
	width: 250px;
	height: 70px;
	font-size: 20px;
}

.success{
	visibility: hidden;
	position: absolute;
	bottom: -92px;
	right: 25%;
	color: green;
	width: 250px;
	height: 70px;
	font-size: 20px;
}

#tabs_container{
	margin-top: 25px;
}
.caret{
	float: right;
	margin-top: 10px;
}

#new_user_dropdown{
	width: 50%;
}
.user_group_dropdown{
	margin-left: 15px;
	width: 47%;
}

.form_input_field_full{
	width: 100%;
	padding-left: 10px;
}
.form_input_field_label{
	margin-left: 18px;
}
.date_input_field{
	width: 97%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	text-align: center;
}
.no_padding{
	padding: 0;
}
.input_with_label{
	height: 70px;
}
.save_button{
	position: absolute;
	right: 0;
	bottom: -135px;
	margin-bottom: 30px;
	margin-right: 30px;	
	-webkit-transition: border-color .7s,background-color .8s, color .7s;
  	-moz-transition: border-color .7s,background-color .8s, color .7s;
  	-o-transition: border-color .7s,background-color .8s, color .7s;
  	transition: border-color .7s,background-color .8s, color .7s;
}
.save_button:hover{
	border-color: green;
	/*background-color: lightgreen;*/
	color: darkgreen;
}
.hidden{
	visibility: hidden;
}
#akten_type_selector{
	margin-top: 20px;
	margin-bottom: 30px;	
	font-size: 16px;
	width: 100%;
	height: 50px;
}
.akten_dropdown{
	padding-left: 0px;
	margin-top: -25px !important;
	margin-left: 6% !important;
}
.dropdown-menu{
	margin-top: 0px;
	padding: 0px;
	/*margin-left: 6%;*/
}
.title_dropdown{
	margin-left: 15px;
	min-width: 0;
}
.akten_type{
	cursor: pointer;
	font-size: 16px;
	padding: 5px 2px;
	text-align: center;
	border-top: solid 1px darkgrey;
	-webkit-transition: background-color .8s;
    transition:  background-color .8s;
}
.akten_type:first-child{
	border-top: none;
}
.akten_type:hover{
	background-color: lightgrey;
}
.form_header{
	padding-bottom: 20px;
	margin-bottom: 35px;
	border-bottom: solid 1px darkgrey;
}
.tab_description{
	margin-top: 20px;
	margin-bottom: 15px;
}
.table_border_bottom{
	border-bottom: 1px solid darkgrey;
}
#user_table{
	margin-bottom: 25px;
}
.user_table_header{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}
tr:nth-child(odd){
	background-color: white;
}
tr:nth-child(even){
	background-color: #f8f8f8;
}
.user_remove{
	float: right;
	margin-right: 5px;
	-webkit-transition: border-color .7s,background-color .8s, color .7s;
  	-moz-transition: border-color .7s,background-color .8s, color .7s;
  	-o-transition: border-color .7s,background-color .8s, color .7s;
  	transition: border-color .7s,background-color .8s, color .7s;
}
.user_remove:hover{
	border-color: red;
	/*background-color: #F76666;*/
	color: red;
}
.user_table_row{
	margin: 0 5px;
}
.user_table_padding{
	padding-top: 5px;
	padding-bottom: 5px;
}
#nutzer_form{
	min-height: 200px;
}