@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body {
  min-width: 768px;
  padding: 50px 0 0 0;
  margin: 0;
  color: #000;
  background-size: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.active a {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-full {
  width: 100%;
  margin: 0;
}

.navbar-project-name {
  font-size: 26px;
}

.full-height {
  height: 100%;
}

.header{
  font-size: 64px;
}

.header div, .navbar-project-name div {
  color: black;
}

.header div span, .navbar-project-name div span {
  color: dimgrey;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
