.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

#independent {
    fill: blue;
}

.link.independent {
    stroke: blue;
}

#concomidant {
    fill: green;
}

.link.concomidant {
    stroke: green;
}

#dominating {
    fill: red;
}

#subordinating {
    fill: red;
}

.link.dominating {
    stroke: red;
}

.link.subordinating{
    stroke: red;
}

#alternative {
    fill: purple;
}

.link.alternative {
    stroke-dasharray: 5, 5;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
