.login-box {
  background: grey;
  opacity: 0.94;
  font-size: 1em;
  text-align: justify;
  padding: 4%;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.ur-logo {
  margin-bottom: 1em;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding: 2%;
}

.form-label {
  font-size: 0.86em;
  color: black;
}

.form-hint {
  font-size: 0.78em;
  color: white;
}
