<div ng-controller="adminCtrl">
    <div id="tabs_container" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a href="#akte_add" onClick="return false;" aria-controls="akten"role="tab" data-toggle="tab">Akte hinzufügen</a></li>
            <li onClick="return false;" role="presentation"><a href="#nutzer_add" aria-controls="users" role="tab" data-toggle="tab">Nutzer hinzufügen</a></li>
            <li ng-click="getUserList()" onClick="return false;" role="presentation"><a href="#nutzer_edit" aria-controls="users" role="tab" data-toggle="tab">Nutzer löschen</a></li>
            <li onClick="return false;" role="presentation"><a href="#export_data" role="tab" data-toggle="tab">Export</a></li>
        </ul>


        <div class="tab-content">

            <div class="tab-pane active" id="akte_add">
                <div class="col-xs-9 tab_description"><p>Hier können neue Akten angelegt werden. Bitte wählen sie den
                    gewünschten Aktentyp.</p>
                </div>
                <div class="col-xs-3 btn-group">
                    <button id="akten_type_selector" class="btn dropdown-toggle" data-toggle="dropdown">Personalakte:
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu akten_dropdown">
                        <li class="akten_type" ng-click="openPersonalakte()">Personalakte</li>
                        <li class="akten_type" ng-click="openPruefungsakte()">Prüfungsakte</li>
                        <li class="akten_type" ng-click="openStudentenakte()">Studentenakte</li>
                    </ul>
                </div>
                <!--
                  _____                                _       _    _
                 |  __ \                              | |     | |  | |
                 | |__) |__ _ __ ___  ___  _ __   __ _| | __ _| | _| |_ ___
                 |  ___/ _ \ '__/ __|/ _ \| '_ \ / _` | |/ _` | |/ / __/ _ \
                 | |  |  __/ |  \__ \ (_) | | | | (_| | | (_| |   <| ||  __/
                 |_|   \___|_|  |___/\___/|_| |_|\__,_|_|\__,_|_|\_\\__\___|
                -->

                <div class="personal_akte_form">
                    <div class="row">
                        <h1 id="form_header_personal" class="form_header col-xs-12">Neue Personalakte</h1>
                    </div>
                    <div ng-include="'assets/templates/personal_form.html'"></div>
                    <a  ng-click="uploadPersonal()" class="save_button btn btn-default btn-lg" href=""><span class="glyphicon glyphicon-ok"></span>  Akte speichern</a>
                    <!-- <input ng-click="uploadPersonal()" class="save_button btn btn-default btn-lg" type="button"
                           value="Akte speichern"> -->
                </div>
                <!--
          _____      _   _  __                             _    _
         |  __ \    (_) (_)/ _|                           | |  | |
         | |__) | __ _   _| |_ _   _ _ __   __ _ ___  __ _| | _| |_ ___
         |  ___/ '__| | | |  _| | | | '_ \ / _` / __|/ _` | |/ / __/ _ \
         | |   | |  | |_| | | | |_| | | | | (_| \__ \ (_| |   <| ||  __/
         |_|   |_|   \__,_|_|  \__,_|_| |_|\__, |___/\__,_|_|\_\\__\___|
                                            __/ |
                                           |___/
        -->
                <div class="hidden pruefungs_akte_form">
                    <div class="row">
                        <h1 id="form_header_pruefung" class="form_header col-xs-12">Neue Prüfungsakte</h1><br>
                    </div>
                    <div ng-include="'assets/templates/exams_form.html'"></div>
                    <a  ng-click="uploadExam()" class="save_button btn btn-default btn-lg" href=""><span class="glyphicon glyphicon-ok"></span>  Akte speichern</a>
                    <!-- <input ng-click="uploadExam()" class="save_button btn btn-default btn-lg" type="button"
                           value="Akte speichern"> -->
                </div>

                <!--
                  ____ _             _            _                   _    _
                / ____| |           | |          | |                 | |  | |
               | (___ | |_ _   _  __| | ___ _ __ | |_ ___ _ __   __ _| | _| |_ ___
                \___ \| __| | | |/ _` |/ _ \ '_ \| __/ _ \ '_ \ / _` | |/ / __/ _ \
                ____) | |_| |_| | (_| |  __/ | | | ||  __/ | | | (_| |   <| ||  __/
               |_____/ \__|\__,_|\__,_|\___|_| |_|\__\___|_| |_|\__,_|_|\_\\__\___|
                -->

                <div class="hidden studenten_akte_form">
                    <div class="row">
                        <h1 id="form_header_student" class="form_header col-xs-12">Neue Studentenakte</h1><br>
                    </div>
                    <div ng-include="'assets/templates/students_form.html'"></div>
                    <a  ng-click="uploadStudent()" class="save_button btn btn-default btn-lg" href=""><span class="glyphicon glyphicon-ok"></span>  Akte speichern</a>
                </div>

                <div class="modal fade" id="createFileModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center" style="margin-top: 20px; margin-bottom: 20px;" ng-bind-html="create_file_message"></p>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <button type="button" class="btn btn-default col-xs-4 col-xs-offset-4 text-center"
                                            data-dismiss="modal">OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
             _   _       _                  _     _                  __ _   _
            | \ | |     | |                | |   (_)                / _(_) (_)
            |  \| |_   _| |_ _______ _ __  | |__  _ _ __  _____   _| |_ _   _  __ _  ___ _ __
            | . ` | | | | __|_  / _ \ '__| | '_ \| | '_ \|_  / | | |  _| | | |/ _` |/ _ \ '_ \
            | |\  | |_| | |_ / /  __/ |    | | | | | | | |/ /| |_| | | | |_| | (_| |  __/ | | |
            |_| \_|\__,_|\__/___\___|_|    |_| |_|_|_| |_/___|\__,_|_|  \__,_|\__, |\___|_| |_|
                                                                               __/ |
                                                                              |___/
           -->
            <div role="tabpanel" class="tab-pane" id="nutzer_add">
                <div class="tab_description col-xs-10">Hier können neue Nutzer hinzugefügt werden.</div>
                <div id="nutzer_form">
                    <div class="col-xs-6 input_with_label">
                        <label class="form_input_field_label">Vorname</label><br>
                        <input ng-model="file.first_name" class="form_input_field_full" type="text">
                    </div>
                    <div class="col-xs-6 input_with_label">
                        <label class="form_input_field_label">Nachname</label><br>
                        <input ng-model="file.last_name" class="form_input_field_full" type="text">
                    </div>
                    <div class="col-xs-6 input_with_label">
                        <label class="form_input_field_label">RZ-Kürzel</label><br>
                        <input ng-model="file.rz_id" class="form_input_field_full" type="text">
                    </div>
                    <div class="col-xs-6 input_with_label">
                        <label class="form_input_field_label">Einrichtung</label><br>
                        <button id="new_user_dropdown" class="btn dropdown-toggle" data-toggle="dropdown">Einrichtung:
                        <span class="caret"></span></button>
                        <ul ng-model="file.new_user_group" class="dropdown-menu user_group_dropdown">
                            <li class="akten_type" ng-click="setUserGroup('personal', 'Personalabteilung')">Personalabteilung</li>
                            <li class="akten_type" ng-click="setUserGroup('exam', 'Prüfungsamt')">Prüfungsamt</li>
                            <li class="akten_type" ng-click="setUserGroup('student', 'Studentenkanzlei')">Studentenkanzlei</li>
                            <li style="color:red"class="akten_type" ng-click="setUserGroup('admin', 'Archiv')">Archiv</li>
                        </ul>
                    </div>
                    <a href="" ng-click="addUser()" type="button" class="save_button btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span> Nutzer hinzufügen</a>
                    <!-- <input ng-click="addUser()" class="save_button btn btn-default btn-lg" type="button"
                           value="Nutzer hinzufügen"> -->
                </div>
                <div id="success_toast" class="success">
                  Nutzer hinzugefügt!
                </div>
                <div id="error_toast" class="error">
                  Ein Fehler ist aufgetreten!
                </div>
               <!--  <div id="fail_toast" class="alert fail fade" data-alert="alert">
                  FAIL
                </div> -->
            </div>
            <!--
              _   _       _                  _ _   _          _
             | \ | |     | |                | (_) (_)        | |
             |  \| |_   _| |_ _______ _ __  | | ___  ___  ___| |__   ___ _ __
             | . ` | | | | __|_  / _ \ '__| | |/ _ \/ __|/ __| '_ \ / _ \ '_ \
             | |\  | |_| | |_ / /  __/ |    | | (_) \__ \ (__| | | |  __/ | | |
             |_| \_|\__,_|\__/___\___|_|    |_|\___/|___/\___|_| |_|\___|_| |_|

            -->
            <div role="tabpanel" class="tab-pane" id="nutzer_edit">
                <div class="tab_description col-xs-10"> Hier erhalten Sie eine Übersicht aller Nutzer.</div>
                    <div class="modal fade" id="deleteUserModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body text-center">
                            <p style="text-align:center"class="modal-title">Diesen Nutzer wirklich löschen?</p>
                          </div>
                          <div class="modal-footer">
                            <div class="row">
                              <button ng-click="deleteUser(true)" id="confirm_delete_yes" type="button" class="btn btn-default col-xs-4 col-xs-offset-2 text-center" data-dismiss="modal">Löschen</button>
                              <button ng-click="deleteUser(false)" id="confirm_delete_no" type="button" class="btn btn-default col-xs-4  text-center" data-dismiss="modal">Abbrechen</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="col-xs-12">
                    <table id="user_table" class="col-xs-12">
                        <tr id="user_table_headers">
                            <th class="col-xs-3 user_table_header table_border_bottom ">Nachname</th>
                            <th class="col-xs-3 user_table_header table_border_bottom">Vorname</th>
                            <th class="col-xs-2 user_table_header table_border_bottom ">RZ-Kürzel</th>
                            <th class="col-xs-2 user_table_header table_border_bottom ">Einrichtung</th>
                            <th class="col-xs-2 user_table_header table_border_bottom"></th>
                        </tr>
                        <tr class="user_table_row">
                            <tr ng-repeat="user in allUsers | orderBy: 'user_last_name' ">
                            <td class="user_last_name user_table_padding col-xs-3">{{user.user_last_name}}</td>
                             <td class="user_first_name user_table_padding col-xs-3">{{user.user_first_name}}</td>
                            <td class="user_rz_name user_table_padding col-xs-2">{{user.user_name}}</td>
                            <td class="user_rights user_table_padding col-xs-2">{{user.user_role}}</td>
                             <td class="user_table_padding">
                              <button ng-click="saveUserId(user.id)" type="button" class="col-xs-11 col-lg-9 user_remove btn btn-default btn-md" data-toggle="modal" data-target="#deleteUserModal"><span class="glyphicon glyphicon-trash"></span>  Löschen</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="export_data">
                <div class="tab_description col-xs-10">Hier können die Datensätze exportiert werden.</div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="row">
                            <button type="button" class="btn btn-default col-xs-4" ng-click="exportPersonal()" style="padding-top: 16px; padding-bottom: 16px;">
                                <span class="glyphicon glyphicon-share" aria-hidden="true" style="margin-right: 10px;"></span>Personalakten
                            </button>
                            <button type="button" class="btn btn-default col-xs-4" ng-click="exportExams()" style="padding-top: 16px; padding-bottom: 16px;">
                                <span class="glyphicon glyphicon-share" aria-hidden="true" style="margin-right: 10px;"></span>Prüfungsakten
                            </button>
                            <button type="button" class="btn btn-default col-xs-4" ng-click="exportStudents()" style="padding-top: 16px; padding-bottom: 16px;">
                                <span class="glyphicon glyphicon-share" aria-hidden="true" style="margin-right: 10px;"></span>Studentenakten
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>
