<div class="container-fluid" ng-init="setupForm()" ng-controller="editCtrl">

    <br>

    <div class="row">
        <div id="edit_personal_form" class="col-xs-12">
            <div ng-include="'assets/templates/personal_form.html'"></div>
        </div>

        <div id="edit_exams_form" class="col-xs-12">
            <div ng-include="'assets/templates/exams_form.html'"></div>
        </div>

        <div id="edit_students_form" class="col-xs-12">
            <div ng-include="'assets/templates/students_form.html'"></div>
        </div>
    </div>

    <div id="edit_buttons" class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <div class="row">
                <a id="edit_delete_button" class="btn btn-default col-xs-3 col-xs-offset-1" href="" ng-click="openModal()"><span class="glyphicon glyphicon-trash"></span> Akte Löschen</a>
                <a id="edit_cancel_button" class="btn btn-default col-xs-3 col-xs-offset-1" href="#/suchen" ng-click=deleteChanges()><span class="glyphicon glyphicon-remove"></span> Verwerfen</a>
                <a id="edit_save_button" class="btn btn-default col-xs-3" href="#/suchen" ng-click=saveChanges()><span class="glyphicon glyphicon-ok"></span> Speichern</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Möchten Sie die Akte  von {{file.first_name + " " + file.last_name }} wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button id="delete_modal_ok" type="button" class="btn btn-default col-xs-4 col-xs-offset-2 text-center"
                                data-dismiss="modal" ng-click="deleteFile()">Löschen
                        </button>
                        <button id="delete_modal_cancel" type="button" class="btn btn-default col-xs-4  text-center"
                                data-dismiss="modal">Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>