<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-4 input_with_label">
            <label class="form_input_field_label">Signatur</label><br>
            <input ng-model="file.signature" class="form_input_field_full" placeholder="1" type="text">
        </div>
        <div class="col-xs-8 input_with_label"></div>
        <div class="dropdown col-xs-3 input_with_label">
            <label class="form_input_field_label">Titel</label><br>
            <input ng-model="file.title" type="text" class="col-xs-12 " data-toggle="dropdown">
            <ul class="col-xs-7 title_dropdown dropdown-menu">
                <li ng-click="setTitle('pruefung', 'Dr.')" class="akten_type">Dr.</li>
                <li ng-click="setTitle('pruefung', 'Prof.')" class="akten_type">Prof.</li>
            </ul>
        </div>
        <div class="col-xs-9 input_with_label">
            <label class="form_input_field_label">Vorname</label><br>
            <input ng-model="file.first_name" class="form_input_field_full" placeholder="Max" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Nachname</label><br>
            <input ng-model="file.last_name" class="form_input_field_full" placeholder="Mustermann" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Geburtsname</label><br>
            <input ng-model="file.name_of_birth" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Geburtsdatum</label><br>
            <!-- <input ng-model="file.date_of_birth" id="pruefung_birthdate" class="form_input_field_full" type="date"> -->
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Geburtsort</label><br>
            <input ng-model="file.place_of_birth" class="form_input_field_full" placeholder="Regensburg" type="text">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-12 input_with_label"></div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Matrikelnr.</label><br>
            <input ng-model="file.student_number" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Studienbeginn</label><br>
            <input ng-model="file.begin_of_studies" id="pruefung_studies_start_date" class="form_input_field_full" placeholder="Bsp. 2015" type="text">
            <!-- <div class="col-xs-4 no_padding">
                <input ng-model="file.begin_of_studies_day" class="date_input_field" type="text" placeholder="tt" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.begin_of_studies_month" class="date_input_field" type="text" placeholder="mm" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.begin_of_studies_year" class="date_input_field" type="text" placeholder="jjjj" maxlength="4">
            </div> -->
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Studienabschluss</label><br>
            <input ng-model="file.end_of_studies" id="pruefung_studies_end_date" class="form_input_field_full" placeholder="Bsp. 2016" type="text">
            <!-- <div class="col-xs-4 no_padding">
                <input ng-model="file.end_of_studies_day" class="date_input_field" type="text" placeholder="tt" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.end_of_studies_month" class="date_input_field" type="text" placeholder="mm" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.end_of_studies_year" class="date_input_field" type="text" placeholder="jjjj" maxlength="4">
            </div> -->
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Fakultät</label><br>
            <input ng-model="file.department" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Nebenfach</label><br>
            <input ng-model="file.secondary_subject" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Hauptfach</label><br>
            <input ng-model="file.main_subject" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Abschlussfach</label><br>
            <input ng-model="file.degree_subject" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Akademischer Grad</label><br>
            <input ng-model="file.academic_title" class="form_input_field_full" placeholder="Dipl." type="text">
        </div>
    </div>
</div>