<form>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Signatur</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.signature}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Vorname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.first_name}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Nachname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.last_name}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Geburtsdatum</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.date_of_birth}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Geburtsort</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.place_of_birth}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Geburtsname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.name_of_birth}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Titel</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.title}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Studienbeginn</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.begin_of_studies}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Studienende</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.end_of_studies}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Matrikelnummer</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.student_number}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Fachbereich</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.department}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">1. Hauptfach</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.main_subject}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">2. Hauptfach</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.secondary_subject}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Abschlussfach</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.degree_subject}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Akademischer Titel</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.academic_title}}</p>
    </div>
</form>