<div class="container-fluid full-height">
    <div id="tabs_container" class="col-xs-12">


        <div ng-app="seriesAnalyzer" ng-controller="configTableController">

            <div class="table-responsive">
                <table st-table="rowCollection" class="table table-striped">
                    <thead></thead>
                    <tbody>
                    <tr ng-repeat="season in tv_show_data.configuration_matrix">
                        <td ng-repeat="values in season track by $index" ng-class="set_color(values)">{{values}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <br>
    </div>
</div>
