<!-- Title is missing -->
<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-4 input_with_label">
            <label class="form_input_field_label">Archiv Nr.</label><br>
            <input ng-model="file.archive_number" class="form_input_field_full" placeholder="1" type="text">
        </div>
        <div class="col-xs-8 input_with_label"></div>
        <div class="dropdown col-xs-3 input_with_label">
            <label class="form_input_field_label">Titel</label><br>
            <input ng-model="file.title" type="text" class="col-xs-12 " data-toggle="dropdown">
            <ul class="col-xs-7 title_dropdown dropdown-menu">
                <li ng-click="setTitle('personal', 'Dr.')" class="akten_type">Dr.</li>
                <li ng-click="setTitle('personal', 'Prof.')" class="akten_type">Prof.</li>
            </ul>
        </div>
        <div class="col-xs-9 input_with_label">
            <label class="form_input_field_label">Vorname</label><br>
            <input ng-model="file.first_name" class="form_input_field_full" placeholder="Max" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Nachname</label><br>
            <input ng-model="file.last_name" class="form_input_field_full" placeholder="Mustermann" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Geburtsname</label><br>
            <input ng-model="file.name_of_birth" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Geburtsdatum</label><br>
            <!-- <input ng-model="file.date_of_birth" id="personal_birthdate" class="form_input_field_full" type="date"> -->
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Geburtsort</label><br>
            <input ng-model="file.place_of_birth" class="form_input_field_full" placeholder="Regensburg" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Sterbedatum</label><br>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.deathdate_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.deathdate_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.deathdate_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-12 input_with_label"></div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">BV Beginn</label><br>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_start_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_start_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_start_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">BV Ende</label><br>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_end_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_end_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.work_end_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
        <div class="dropdown col-xs-12 input_with_label">
            <label class="form_input_field_label">Tätigkeit</label><br>
            <input ng-model="file.job_title" type="text" class="col-xs-12" placeholder="Arbeiter" data-toggle="dropdown">
            <ul class="col-xs-12 dropdown-menu">
                <li ng-click="setJob('SHK')" class="akten_type">SHK</li>
                <li ng-click="setJob('WHK')" class="akten_type">WHK</li>
                <li ng-click="setJob('Angestellter')" class="akten_type">Angestellter</li>
                <li ng-click="setJob('Technischer Angestellter')" class="akten_type">Technischer Angestellter</li>
                <li ng-click="setJob('Verwaltungs Angestellter')" class="akten_type">Verwaltungs Angestellter</li>
                <li ng-click="setJob('Arbeiter')" class="akten_type">Arbeiter</li>
            </ul>
        </div>
    </div>
</div>