<form>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Titel</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.title}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Tätigkeit</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.job_title}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Vorname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.first_name}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Nachname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.last_name}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Geburtsdatum</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.date_of_birth}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Sterbedatum</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.date_of_death}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Geburtsort</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.place_of_birth}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Geburtsname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.name_of_birth}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">BV Beginn</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.start_of_employment}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">BV Ende</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.end_of_employment}}</p>
    </div>
</form>