<div class="container-fluid full-height" ng-controller="searchCtrl">
    <div class="row search-bar">
        <input id="search-bar-input" class="col-xs-6 col-xs-offset-1" type="text"
               ng-keyup="$event.keyCode == 13 && search(data.query)" ng-model="data.query" ng-show="showBar">
        <button class="col-xs-1 btn btn-default" type="submit" ng-show="showBar" ng-click="search(data.query)"><span
                class="glyphicon glyphicon-search"></span></button>
        <a class="col-xs-3 col-xs-offset-0" href="#/erweiterte_suche">
            <p>Erweiterte Suche</p>
            <span class="glyphicon glyphicon-expand"></span>
        </a>
    </div>

    <br>
    <div class="col-xs-12" ng-show="showResult">
        <div class="row" ng-show="isAdmin">
            <ul class="nav nav-tabs col-xs-12 col-md-10 col-md-offset-1" role="tablist">
                <li class="active" role="presentation">
                    <a role="tab" data-toggle="tab" href="" ng-click="getPersonalResults()">Personalabteilung</a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" href="" ng-click="getExamResults()">Prüfungsamt</a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" href="" ng-click="getStudentResults()">Studentenkanzlei</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="row text-center orders-count">
                    <p>Es wurden {{searchData.length}} Ergebnisse gefunden</p>
                </div>
                <div class="row orders-row orders-divider">
                    <p class="col-xs-4 text-justify orders-head">Nachname</p>
                    <p class="col-xs-4 text-justify orders-head">Vorname</p>
                    <p class="col-xs-3 text-justify orders-head">Geburtsdatum</p>
                </div>
                <div class="row result-opener" ng-class-odd="'orders-row-odd'" ng-class-even="'orders-row'" ng-repeat-start="item in searchData | orderBy:['last_name','first_name']"
                     ng-init="openSingleResult(searchData.length)" ng-click="toggleItem($index)">
                    <p class="col-xs-4 text-justify orders-item">{{item.last_name}}</p>
                    <p class="col-xs-4 text-justify orders-item">{{item.first_name}}</p>
                    <p class="col-xs-3 text-justify orders-item">{{item.date_of_birth}}</p>
                    <p class="col-xs-1 text-justify orders-item">
                        <span class="glyphicon glyphicon-menu-right" ng-hide="openItem==$index"></span>
                        <span class="glyphicon glyphicon-menu-down" ng-show="openItem==$index"></span>
                    </p>
                </div>
                <div class="row result-border" ng-repeat-end
                     uib-collapse="openItem!=$index" style="background: rgba(255, 255, 255, 0.4);">
                    <div class="col-xs-10 col-xs-offset-1 result-content">
                        <br>
                        <div class="row">
                            <button type="button" class="btn btn-default pull-right result-button" ng-click="click(item)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;"></span>{{buttonLabel}}
                            </button>
                        </div>
                        <br>
                        <div class="row">
                            <div ng-include="result_template"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>

    <div class="row search-box" ng-hide="showBar">
        <h3 class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            Welche Akte wird gesucht?</h3>
        <input id="search-field"
               class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 search-input"
               type="text" ng-model="data.query" ng-change="showSearchBar()" placeholder="Suche nach Akten...">
    </div>

    <div class="modal fade" id="orderModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center" style="margin-top: 20px; margin-bottom: 20px;">{{order_message}}</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div id="order_modal_spinner" class="col-xs-4 col-xs-offset-4 text-center">
                            <div class="spinner" style="margin: 10px auto;">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <button id="order_modal_button" type="button" class="btn btn-default col-xs-4 col-xs-offset-4 text-center"
                                data-dismiss="modal">OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
