<link rel="stylesheet" type="text/css" href="../assets/css/force_directed_graph.css">
<link rel="stylesheet" type="text/css" href="../assets/css/optionElements.css">
<link rel="stylesheet" type="text/css" href="../assets/css/seasons.css">

<div class="container-fluid full-height">
    <div id="tabs_container" class="col-xs-12">
        <div ng-app="seriesAnalyzer" ng-controller="configTableController">
            <div class="row">
                <div class="col-md-12" id="season-selection">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Season Selection</div>
                        <div class="panel-body">
                            <div class="col-md-3">
                                <label>
                                    Season:
                                    <select ng-options="season as 'Season ' + season.season_number for season in all_seasons | orderBy:['season_number']"
                                            ng-model="selectedSeason" ng-change="select_clicked()">
                                        <option value="">Please select a season first...</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Season Statistics</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div id="speaker-info-box" class="row" ng-if="selectedSeason">
                                <div class="col-md-9">
                                    <table st-table="rowCollection" class="table table-striped">
                                        <td>
                                            <table st-table="rowCollection"
                                                   class="table table-striped speaker-info-table">

                                                <tr>
                                                    <td>Season:</td>
                                                    <td>{{selectedSeason.season_number}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Configuration Density:</td>
                                                    <td>{{(selectedSeason.configuration_density).toFixed(2)}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Number of Episodes:</td>
                                                    <td>{{selectedSeason.number_of_episodes}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Number of Speakers:</td>
                                                    <td>{{selectedSeason.speakers.length}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <table st-table="rowCollection"
                                                   class="table table-striped speaker-info-table">
                                                <tr>
                                                    <td>Number Of Speachs:</td>
                                                    <td>{{selectedSeason.number_of_replicas}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Longest Speach:</td>
                                                    <td>{{selectedSeason.replicas_length_max}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Shortest Speach:</td>
                                                    <td>{{selectedSeason.replicas_length_min}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Speach Length Median:</td>
                                                    <td>{{selectedSeason.replicas_length_med}}</td>
                                                </tr>

                                            </table>
                                        </td>
                                        <td>
                                            <table st-table="rowCollection"
                                                   class="table table-striped speaker-info-table">
                                                <tr>
                                                    <td>Speach Length Total:</td>
                                                    <td>{{selectedSeason.replicas_length_total}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Average Speach Length:</td>
                                                    <td>{{(selectedSeason.replicas_length_avg).toFixed(2)}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Median Speach Length:</td>
                                                    <td>{{selectedSeason.replicas_length_med}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Configuration Density Evolution in Episodes</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div class="row speaker-info-grafics" ng-if="selectedSeason">
                                <div class="col-md-12 bar-chart">
                                    <nvd3 options="barOptionsConfigurationDensities"
                                          data="configuration_densities"></nvd3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Speach Length Distribution</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div class="row speaker-info-grafics" ng-if="selectedSeason">
                                <div class="col-md-12 bar-chart">
                                    <nvd3 options="barOptions" data="replica_length_list"></nvd3>
                                </div>
                            </div>
                            <div class="col-md-12 bar-chart">
                                <md-button class="md-raised" ng-click="downloadReplicaCSV()">Download as CSV</md-button>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Configuration Matrix</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body overflow-x-auto">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div class="loader" ng-if="loading" ng-hide="selectedSeason"></div>
                            <table datatable="ng" dt-options="dtConfigOptions" id="config-matrix"
                                   class="row-border hover"
                                   ng-if="config_matrix">
                                <thead>

                                <th>Speaker/Season</th>
                                <th ng-repeat="n in [] | range:selectedSeason.number_of_episodes+1">{{n}}</th>

                                </thead>
                                <tbody>
                                <tr ng-repeat="season in config_matrix">
                                    <td ng-repeat="values in season track by $index"
                                        ng-class="setColor(values)">
                                        {{values}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Configuration Probability</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body overflow-x-auto" id="config-probability">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div class="loader" ng-if="loading" ng-hide="selectedSeason"></div>
                            <table datatable="ng" dt-options="dtOptions" class="row-border hover"
                                   ng-if="config_probability"  dt-column-defs="dtColumnDefs">
                                <thead>

                                <th ng-repeat="n in config_probability_header">{{n}}</th>

                                </thead>
                                <tbody>
                                <tr ng-repeat="row in config_probability">
                                    <td ng-repeat="val in row track by $index"
                                        ng-class="setProbabilityColor(val)">
                                        {{val}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Season Speaker Stats</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div ng-app="seriesAnalyzer" ng-if="selectedSeason">
                                <table datatable="ng" dt-options="dtOptions" class="row-border hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Number Of Replicas</th>
                                        <th>Longest Replic</th>
                                        <th>Shortest Replic</th>
                                        <th>Average Replic Length</th>
                                        <th>Replic Length Median</th>
                                        <th>Total Length Of Replics</th>
                                        <th>Tv Show Replic Percentage</th>
                                        <th>Tv Show Word Percentage</th>
                                        <th>Appeared in episodes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="speaker in selectedSeason.speakers">
                                        <td>{{speaker.name}}</td>
                                        <td>{{speaker.number_of_replicas}}</td>
                                        <td>{{speaker.replicas_length_max}}</td>
                                        <td>{{speaker.replicas_length_min}}</td>
                                        <td>{{speaker.replicas_length_avg.toFixed(2)}}</td>
                                        <td>{{speaker.replicas_length_med}}</td>
                                        <td>{{speaker.replicas_length_total}}</td>
                                        <td>{{((speaker.replik_percentage)*100).toFixed(2)}} %</td>
                                        <td>{{((speaker.word_percentage)*100).toFixed(2)}} %</td>
                                        <td>{{speaker.appeared_in_episodes.sort(sort_numbers).join()}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Character Network</h3>
                            <span class="pull-right clickable"><i
                                    class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="well well-sm" ng-hide="selectedSeason">No season data available. Please select a
                                season first!
                            </div>
                            <div class="well well-sm">
                                You can drag nodes to fix them at a desired position. A double click releases a node to be influenced by the force again.
                            </div>
                            <div class="loader" ng-if="loading" ng-hide="selectedSeason"></div>
                            <table class="" ng-if="selectedSeason">
                                <tr>
                                    <td>Concomidant</td>
                                    <td><label class="switch">
                                        <input id="concomidant-switch" type="checkbox"
                                               ng-model="checkboxModel.concomidant">
                                        <div class="slider round"></div>
                                    </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dominating</td>
                                    <td>
                                        <label class="switch">
                                            <input id="dominating-switch" type="checkbox"
                                                   ng-model="checkboxModel.dominating">
                                            <div class="slider round"></div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Independent</td>
                                    <td>
                                        <label class="switch">
                                            <input id="independent-switch" type="checkbox"
                                                   ng-model="checkboxModel.independent">
                                            <div class="slider round"></div>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alternative</td>
                                    <td>
                                        <label class="switch">
                                            <input id="alternative-switch" type="checkbox"
                                                   ng-model="checkboxModel.alternative">
                                            <div class="slider round"></div>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <div class="row" id="force-directed-graph-speakers">
                                <div class="col-md-12" id="force-graph">

                                </div>
                                <button svg-download="#svg_character_network" title="CharacterNetworkFull" type="png">
                                    Download as PNG
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>