<link rel="stylesheet" type="text/css" href="../assets/css/main.css">

<div class="container-fluid full-height">
    <div class="row">
        <div id="tabs_container" class="col-xs-12">
            <div ng-app="seriesAnalyzer" ng-controller="singleSpeakerController">

                <div class="panel panel-default">
                    <div class="panel-heading">Speaker Selection</div>
                    <div class="panel-body">
                        <div class="loader" ng-show="!showSpeakerSelection"> Loading Data...</div>
                        <input type="text" auto-complete ui-items="dropdownSpeakerNames"
                               ng-model="dropdownSelectedSpeaker" ng-show="showSpeakerSelection"/>

                        <div class="row speaker-selection"  ng-show="showSpeakerSelection">
                            <div class="speaker-card">
                                <div class="speaker-label">Sheldon</div>
                                <img class="speaker-image" src="assets/img/sheldon.jpg"
                                     ng-click="set_selected_speaker('Sheldon')">
                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Penny</div>
                                <img class="speaker-image" src="assets/img/penny.jpg"
                                     ng-click="set_selected_speaker('Penny')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Leonard</div>
                                <img class="speaker-image" src="assets/img/leonard.jpg"
                                     ng-click="set_selected_speaker('Leonard')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Howard</div>
                                <img class="speaker-image" src="assets/img/howard.jpg"
                                     ng-click="set_selected_speaker('Howard')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Raj</div>
                                <img class="speaker-image" src="assets/img/raj.jpg"
                                     ng-click="set_selected_speaker('Raj')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Amy</div>
                                <img class="speaker-image" src="assets/img/amy.jpg"
                                     ng-click="set_selected_speaker('Amy')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Bernadette</div>
                                <img class="speaker-image" src="assets/img/bernadette.jpg"
                                     ng-click="set_selected_speaker('Bernadette')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Stuart</div>
                                <img class="speaker-image" src="assets/img/stuart.jpg"
                                     ng-click="set_selected_speaker('Stuart')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Priya</div>
                                <img class="speaker-image" src="assets/img/priya.jpg"
                                     ng-click="set_selected_speaker('Priya')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Sheldon's Mother</div>
                                <img class="speaker-image" src="assets/img/Sheldon’s_Mother.jpg"
                                     ng-click="set_selected_speaker('Sheldon’s Mother')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Mrs Wolowitz</div>
                                <img class="speaker-image" src="assets/img/Howard’s_Mother.jpg"
                                     ng-click="set_selected_speaker('Howard’s Mother')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Emily</div>
                                <img class="speaker-image" src="assets/img/emily.jpg"
                                     ng-click="set_selected_speaker('Emily')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Beverley</div>
                                <img class="speaker-image" src="assets/img/Leonard’s_Mother.jpg"
                                     ng-click="set_selected_speaker('Leonard’s Mother')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Wil</div>
                                <img class="speaker-image" src="assets/img/wil.jpg"
                                     ng-click="set_selected_speaker('Wil')">

                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Arthur</div>
                                <img class="speaker-image" src="assets/img/arthur.jpg"
                                     ng-click="set_selected_speaker('Arthur')">
                                </label>
                            </div>
                            <div class="speaker-card">
                                <div class="speaker-label">Leslie</div>
                                <img class="speaker-image" src="assets/img/leslie.jpg"
                                     ng-click="set_selected_speaker('Leslie')">

                            </div>

                            <!--
                            <label>
                                All Figures:
                                <select ng-options="speaker as speaker.name for speaker in speakers | orderBy:'-number_of_replicas'" ng-model="selectedSpeaker">
                                    <option value="">Please select a speaker...</option>
                                </select>
                            </label>
                            <div class="speaker-card" ng-repeat="speaker in speakers | orderBy:'-number_of_replicas'" ng-if="$index > 16">
                                <div class="speaker-label">{{speaker.name}}</div>
                                <img class="speaker-image" src="img/anonym.jpg" ng-click="set_selected_speaker(speaker.name)">
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-if="selectedSpeaker">
                    <div class="panel-heading">Speaker Stats</div>
                    <div class="panel-body">

                        <div id="speaker-info-box" class="row">
                            <div class="col-md-3">
                                <img class=""
                                     ng-src="assets/img/{{selectedSpeaker.name.toString().replace(' ', '_').toLowerCase()}}.jpg"
                                     onError="this.src='assets/img/anonym.jpg';">
                            </div>
                            <div class="col-md-9">
                                <table st-table="rowCollection" class="table table-striped">
                                    <td>
                                        <table st-table="rowCollection" class="table table-striped speaker-info-table">

                                            <tr>
                                                <td>Name:</td>
                                                <td>{{selectedSpeaker.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Number of speeches:</td>
                                                <td>{{selectedSpeaker.number_of_replicas}}</td>
                                            </tr>
                                            <tr>
                                                <td>Longest speech:</td>
                                                <td>{{selectedSpeaker.replicas_length_max}}</td>
                                            </tr>
                                            <tr>
                                                <td>Shortest speech:</td>
                                                <td>{{selectedSpeaker.replicas_length_min}}</td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection" class="table table-striped speaker-info-table">

                                            <tr>
                                                <td>Percentage of speeches in show:</td>
                                                <td>{{((selectedSpeaker.replik_percentage)*100).toFixed(2)}} %</td>
                                            </tr>

                                            <tr>
                                                <td>Percentage of words in show:</td>
                                                <td>{{((selectedSpeaker.word_percentage)*100).toFixed(2)}} %</td>
                                            </tr>
                                            <tr>
                                                <td>Average speech length:</td>
                                                <td>{{(selectedSpeaker.replicas_length_avg).toFixed(2)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Median speech length:</td>
                                                <td>{{(selectedSpeaker.replicas_length_med).toFixed(2)}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection" class="table table-striped speaker-info-table">
                                            <tr>
                                                <td>Number of distinct words:</td>
                                                <td>{{selectedSpeaker.dist_word_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Percentage of nouns:</td>
                                                <td>{{selectedSpeaker.noun_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total number of verbs:</td>
                                                <td>{{selectedSpeaker.verb_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total number of adverbs:</td>
                                                <td>{{selectedSpeaker.adverb_count}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total number of adjectives:</td>
                                                <td>{{selectedSpeaker.adjective_count}}</td>
                                            </tr>

                                        </table>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-if="replicaLengths">
                    <div class="panel-heading">Speech Length Distribution</div>
                    <div class="panel-body">

                        <div class="row speaker-info-grafics">
                            <div class="col-md-12 bar-chart">
                                <nvd3 options="speechLengthDistributionOptions" data="replicaLengths"></nvd3>
                            </div>
                        </div>
                        <md-button class="md-raised" ng-click="downloadSpeechCSV()">Download as CSV</md-button>
                    </div>
                </div>


                <div class="panel panel-default" ng-if="speakerWords">
                    <div class="panel-heading">Most Used Words</div>
                    <div class="panel-body">

                        <div class="row" id="speaker-word-cloud">
                            <div class="col-md-4 bar-chart">
                                <jqcloud words="speakerWords" width="500" height="350" steps="7"></jqcloud>
                            </div>
                            <div class="col-md-4 bar-chart">
                                <jqcloud words="speakerWordsPos" width="500" height="350" steps="7"></jqcloud>
                                <span class="label label-success">Ratio: {{(selectedSpeaker.words_pos_ratio*100).toFixed(1)}} %</span>
                            </div>
                            <div class="col-md-4 bar-chart">
                                <jqcloud words="speakerWordsNeg" width="500" height="350" steps="7"></jqcloud>
                                <span class="label label-danger">Ratio: {{(selectedSpeaker.words_neg_ratio*100).toFixed(1)}} %</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default linechart-panel" ng-if="speakerSeasonStats">
                    <div class="panel-heading">Speaker Season Speech Stats</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaAvg" data="replicaAverageSeasons"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaNumber" data="replicaNumberSeasons"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaSum" data="replicaSumSeasons"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default linechart-panel" ng-if="speakerEpisodeStats">
                    <div class="panel-heading">Speaker Episode Speech Stats</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaAvgEpi" data="replicaAverageEpisodes"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaNumberEpi" data="replicaNumberEpisodes"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                            <div class="col-md-4">
                                <nvd3 options="linechartOptionsReplicaSumEpi" data="replicaSumEpisodes"
                                      class="with-3d-shadow with-transitions"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </div>
</div>
