<link rel="stylesheet" type="text/css" href="../assets/css/speaker_overview.css">
<div class="container-fluid full-height">
    <div id="tabs_container" class="col-xs-12">

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Overall Series Stats</h3>
                    <span class="pull-right clickable"><i
                            class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div ng-app="seriesAnalyzer" ng-controller="speakerOverviewController as SpeakerCtrl">
                        <table datatable="ng" dt-options="SpeakerCtrl.dtOptions" class="row-border hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number Of Replicas</th>
                                <th>Longest Replic</th>
                                <th>Shortest Replic</th>
                                <th>Average Replic Length</th>
                                <th>Replic Length Median</th>
                                <th>Total Length Of Replics</th>
                                <th>Tv Show Replic Percentage</th>
                                <th>Tv Show Word Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="speaker in SpeakerCtrl.speakers">
                                <td>{{speaker.name}}</td>
                                <td>{{speaker.number_of_replicas}}</td>
                                <td>{{speaker.replicas_length_max}}</td>
                                <td>{{speaker.replicas_length_min}}</td>
                                <td>{{speaker.replicas_length_avg.toFixed(2)}}</td>
                                <td>{{speaker.replicas_length_med}}</td>
                                <td>{{speaker.replicas_length_total}}</td>
                                <td>{{((speaker.replik_percentage)*100).toFixed(2)}} %</td>
                                <td>{{((speaker.word_percentage)*100).toFixed(2)}} %</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
