<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-4 input_with_label">
            <label class="form_input_field_label">Archiv Nr.</label><br>
            <input ng-model="file.archive_number" class="form_input_field_full" placeholder="1" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Vorname</label><br>
            <input ng-model="file.first_name" class="form_input_field_full" placeholder="Max" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Nachname</label><br>
            <input ng-model="file.last_name" class="form_input_field_full" placeholder="Mustermann" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Geburtsname</label><br>
            <input ng-model="file.name_of_birth" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Geburtsdatum</label><br>
            <!-- <input ng-model="file.date_of_birth" id="student_birthdate" class="form_input_field_full" type="date"> -->
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_day" class="date_input_field" type="text" placeholder="TT" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_month" class="date_input_field" type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.birthdate_year" class="date_input_field" type="text" placeholder="JJJJ" maxlength="4">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-12 input_with_label"></div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Matrikelnr.</label><br>
            <input ng-model="file.student_number" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Karton Nr.</label><br>
            <input ng-model="file.box_number" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Alte Karton Nr.</label><br>
            <input ng-model="file.box_number_old" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Immatrikulation</label><br>
            <input ng-model="file.immatriculation" id="student_enrollment_date" class="form_input_field_full" placeholder="Bsp. WS 15/16" type="text">
            <!-- <div class="col-xs-4 no_padding">
                <input ng-model="file.enrollment_date_day" class="date_input_field" type="text" placeholder="tt" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.enrollment_date_month" class="date_input_field" type="text" placeholder="mm" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.enrollment_date_year" class="date_input_field" type="text" placeholder="jjjj" maxlength="4">
            </div> -->
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Exmatrikulation</label><br>
            <input ng-model="file.exmatriculation" id="student_unenrollment_date" class="form_input_field_full" placeholder="Bsp. SS15" type="text">
            <!-- <div class="col-xs-4 no_padding">
                <input ng-model="file.unenrollment_date_day" class="date_input_field" type="text" placeholder="tt" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.unenrollment_date_month" class="date_input_field" type="text" placeholder="mm" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.unenrollment_date_year" class="date_input_field" type="text" placeholder="jjjj" maxlength="4">
            </div> -->
        </div>
        <div class="col-xs-6 input_with_label">
            <label class="form_input_field_label">Ablagenr.</label><br>
            <input ng-model="file.file_number" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Abgabedatum</label><br>
            <input ng-model="file.date_of_filing" id="student_hand_in_date" class="form_input_field_full" placeholder="Bsp. 01.01.2015 bis 01.04.2015 (Abgabe 2015)" type="text">
            <!-- <div class="col-xs-4 no_padding">
                <input ng-model="file.date_of_filing_day" class="date_input_field" type="text" placeholder="tt" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.date_of_filing_month" class="date_input_field" type="text" placeholder="mm" maxlength="2">
            </div>
            <div class="col-xs-4 no_padding">
                <input ng-model="file.date_of_filing_year" class="date_input_field" type="text" placeholder="jjjj" maxlength="4">
            </div> -->
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Enthält auch</label><br>
            <input ng-model="file.also_contains" class="form_input_field_full" type="text">
        </div>
        <div class="col-xs-12 input_with_label">
            <label class="form_input_field_label">Bemerkung</label><br>
            <input ng-model="file.annotations" class="form_input_field_full" placeholder="siehe auch Ablage 4" type="text">
        </div>
    </div>
</div>