<form>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Matrikelnummer</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.student_number}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Ablagedatum</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.date_of_filing}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Vorname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.first_name}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Nachname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.last_name}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Geburtsdatum</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.date_of_birth}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Geburtsname</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.name_of_birth}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Immatrikulation</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.immatriculation}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Exmatrikulation</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.exmatriculation}}</p>
    </div>
    <div class="form-group result-line">
        <label class="col-xs-2 control-label">Anmerkungen</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.annotations}}</p>
        <label class="col-xs-2 col-xs-offset-2 control-label">Enthält auch</label>

        <p class="col-xs-2 col-xs-offset-1 form-control-static">{{item.also_contains}}</p>
    </div>
</form>