<link rel="stylesheet" type="text/css" href="../assets/css/tv_show_overview.css">

<div class="container-fluid full-height">
    <div id="tabs_container" class="col-xs-12">
        <div ng-app="seriesAnalyzer" ng-controller="tvShowGraficsController">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" ng-controller="navbarCtrl">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>The Big Bang Theory</h1>
                                <h2>Quantitative Analysis</h2>
                                <p>
                                    This website visualizes quantitative data extracted and computed from the
                                    transcripts of
                                    the TV Series "The Big Bang Theory".
                                    The data which is provided is computed from the speaches of the all the characters
                                    in
                                    the show.
                                </p>
                                <p>
                                    On the start page you can find an overview of the whole series. Detailed insight in
                                    statistics for single Seasons, Episodes and Speakers can be accesed via the
                                    according
                                    navigation points.
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-lg" href="#/season-config-tables" role="button">Season
                                        Data</a>
                                    <a class="btn btn-primary btn-lg" href="#/episode-config-tables" role="button">Episodes
                                        Data</a>
                                    <a class="btn btn-primary btn-lg" href="#/speaker-overview-table" role="button">Speaker
                                        Overview
                                        Data</a>
                                </p>
                            </div>
                            <div>
                                <img src="../assets/img/bbt_overview.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overall Series Stats</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div id="speaker-info-box" ng-if="tv_show">
                            <div class="col-md-12">
                                <table st-table="rowCollection">
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table table-bordered speaker-info-table">
                                            <tr>
                                                <td>Configuration Density:</td>
                                                <td>{{(tv_show.configuration_density).toFixed(2)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Number Of Speeches:</td>
                                                <td>{{tv_show.number_of_replicas}}</td>
                                            </tr>
                                            <tr>
                                                <td>Longest Speech:</td>
                                                <td>{{tv_show.replicas_length_max}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table table-bordered speaker-info-table">

                                            <tr>
                                                <td>Shortest Speech:</td>
                                                <td>{{tv_show.replicas_length_min}}</td>
                                            </tr>
                                            <tr>
                                                <td>Speech Length Median:</td>
                                                <td>{{tv_show.replicas_length_med}}</td>
                                            </tr>
                                            <tr>
                                                <td>Speech Length Total:</td>
                                                <td>{{tv_show.replicas_length_total}}</td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table table-bordered speaker-info-table">
                                            <tr>
                                                <td>Average Speech Length:</td>
                                                <td>{{(tv_show.replicas_length_avg).toFixed(2)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Median Speech Length:</td>
                                                <td>{{tv_show.replicas_length_med}}</td>
                                            </tr>
                                            <tr>
                                                <td>Number of Speakers:</td>
                                                <td>{{tv_show.speakers.length}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h3><span class="label label-info">Replika Distribution</span></h3>
                            <nvd3 options="barOptions2" data="replicaNumberDistribution"
                            ></nvd3>
                        </div>
                        <div class="col-md-4">
                            <h3><span class="label label-info">Word Distribution</span></h3>
                            <nvd3 options="barOptions2" data="replicaWordDistribution"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                        <div class="col-md-4">
                            <h3><span class="label label-info">Number of Speakers</span></h3>
                            <nvd3 options="barOptions2" data="numberOfSpeakersDistribution"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary" ng-if="tv_show">
                    <div class="panel-heading">
                        <h3 class="panel-title">Speech Length Distribution</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body" id="replica-length-chart-body">
                        <div class="col-md-12">
                            <h3><span class="label label-info">Speech Length Distribution</span></h3>
                        </div>
                        <div class="col-md-12 bar-chart" id="bar-chart-season-replic-length">
                            <nvd3 options="barOptions2" data="tvShowReplicaLengths"></nvd3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary" ng-if="tv_show_config_matrix">
                    <div class="panel-heading">
                        <h3 class="panel-title">Configuration Matrix</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <table datatable="ng" dt-options="dtOptions" id="config-matrix" class="row-border hover">
                            <thead>

                            <th>Speaker/Season</th>
                            <th ng-repeat="n in [] | range:all_seasons.length+1">{{n}}</th>

                            </thead>
                            <tbody>
                            <tr ng-repeat="season in tv_show_config_matrix">
                                <td ng-repeat="values in season track by $index"
                                    ng-class="setColor(values)">
                                    {{values}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Configuration Densities In Tv Show Seasons</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="row speaker-info-grafics">
                            <div class="col-md-12 bar-chart">
                                <nvd3 options="barOptionsConfigurationDensities"
                                      data="configuration_densities" class="graph"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Character Network</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="force-directed-graph-speakers" ng-if="forceDirectedData">
                            <div class="col-md-12">
                                <h3><span class="label label-info">TV Show Coappearances</span></h3>
                                Minimum Coappearances:
                                <div>
                                    <rzslider
                                            rz-slider-model="slider.min"
                                            rz-slider-high="slider.max"
                                            rz-slider-options="slider.options"></rzslider>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <nvd3 options="forceDirectedOptions" data="forceDirectedData"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>