<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
<link rel="stylesheet" type="text/css" href="../assets/css/tv_show_overview.css">
<link rel="stylesheet" type="text/css" href="../assets/css/force_directed_graph.css">
<link rel="stylesheet" type="text/css" href="../assets/css/optionElements.css">

<div class="container-fluid full-height">
    <div id="tabs_container" class="col-xs-12">
        <div ng-app="seriesAnalyzer" ng-controller="tvShowGraficsController">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" ng-controller="navbarCtrl">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>The Big Bang Theory</h1>
                                <h2>Quantitative Analysis</h2>
                                <p>
                                    This website visualizes quantitative data extracted and computed from the
                                    transcripts of
                                    the TV Series "The Big Bang Theory".
                                    The provided data is computed from the speeches of all the characters
                                    in
                                    the show.
                                </p>
                                <p>
                                    On the start page you can find an overview of the whole series. Detailed insight in
                                    statistics for single Seasons, Episodes and Speakers can be accesed via the
                                    according
                                    navigation points.
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-lg" href="#/season-config-tables" role="button">Season
                                        Data</a>
                                    <a class="btn btn-primary btn-lg" href="#/episode-config-tables" role="button">Episodes
                                        Data</a>
                                    <a class="btn btn-primary btn-lg" href="#/speaker-single-view" role="button">Single
                                        Speaker
                                        Data</a>
                                    <a class="btn btn-primary btn-lg" href="#/speaker-comparison" role="button">Compare
                                        Speakers
                                    </a>
                                    <a class="btn btn-primary btn-lg" href="#/download-view" role="button">Data
                                        Download</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overall Series Stats</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="loader" ng-if="loading" ng-hide="tv_show"></div>
                        <div id="speaker-info-box" ng-if="tv_show">
                            <div class="col-md-12">
                                <table st-table="rowCollection">
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table speaker-info-table">
                                            <tr>
                                                <td>Configuration density:</td>
                                                <td>{{(tv_show.configuration_density).toFixed(2)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Number of speeches:</td>
                                                <td>{{tv_show.number_of_replicas}}</td>
                                            </tr>
                                            <tr>
                                                <td>Longest speech:</td>
                                                <td>{{tv_show.replicas_length_max}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table speaker-info-table">

                                            <tr>
                                                <td>Shortest speech:</td>
                                                <td>{{tv_show.replicas_length_min}}</td>
                                            </tr>
                                            <tr>
                                                <td>Speech length median:</td>
                                                <td>{{tv_show.replicas_length_med}}</td>
                                            </tr>
                                            <tr>
                                                <td>Speech length total:</td>
                                                <td>{{tv_show.replicas_length_total}}</td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td>
                                        <table st-table="rowCollection"
                                               class="table speaker-info-table">
                                            <tr>
                                                <td>Average speech length:</td>
                                                <td>{{(tv_show.replicas_length_avg).toFixed(2)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Median speech length:</td>
                                                <td>{{tv_show.replicas_length_med}}</td>
                                            </tr>
                                            <tr>
                                                <td>Number Of Unique Speakers:</td>
                                                <td>{{tv_show.number_of_speakers}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h3><span class="label label-info">Number Of Speeches</span></h3>
                            <nvd3 options="basicBarOptions" data="replicaNumberDistribution"
                            ></nvd3>
                        </div>
                        <div class="col-md-3">
                            <h3><span class="label label-info">Number Of Word</span></h3>
                            <nvd3 options="basicBarOptions" data="replicaWordDistribution"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                        <div class="col-md-3">
                            <h3><span class="label label-info">Number Of Speakers</span></h3>
                            <nvd3 options="basicBarOptions" data="numberOfSpeakersDistribution"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                        <div class="col-md-3">
                            <h3><span class="label label-info">Configuration Density</span></h3>
                            <nvd3 options="basicBarOptionsInteractiveFalse" data="configuration_densities"
                                  class="with-3d-shadow with-transitions"></nvd3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Speech Length Distribution</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body" id="replica-length-chart-body">
                        <div class="loader" ng-if="loading" ng-hide="tv_show"></div>
                        <div class="col-md-12">
                            <h3><span class="label label-info">Speech Length Distribution</span></h3>
                        </div>
                        <div class="col-md-12 bar-chart" id="bar-chart-season-replic-length">
                            <nvd3 options="basicBarOptions" data="tvShowReplicaLengths"></nvd3>
                        </div>
                        <div class="col-md-12 bar-chart">
                            <md-button class="md-raised" ng-click="downloadReplicaCSV()">Download as CSV</md-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Configuration Matrix</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div class="loader" ng-if="loading" ng-hide="tv_show"></div>
                        <table datatable="ng" dt-options="dtOptions" id="config-matrix" class="row-border hover"
                               ng-if="tv_show_config_matrix">
                            <thead>

                            <th>Speaker/Season</th>
                            <th ng-repeat="n in [] | range:all_seasons.length+1">{{n}}</th>

                            </thead>
                            <tbody>
                            <tr ng-repeat="season in tv_show_config_matrix">
                                <td ng-repeat="values in season track by $index"
                                    ng-class="setColor(values)">
                                    {{values}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overall Series Stats</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body">
                        <div ng-app="seriesAnalyzer" ng-controller="speakerOverviewController as SpeakerCtrl">
                            <table datatable="ng" dt-options="SpeakerCtrl.dtOptions" class="row-border hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number Of Speeches</th>
                                    <th>Longest Speech</th>
                                    <th>Shortest Speech</th>
                                    <th>Average Speech Length</th>
                                    <th>Speech Length Median</th>
                                    <th>Total Length Of Speeches</th>
                                    <th>Percentage Of Speeches In Tv Show</th>
                                    <th>Percentage Of Words In Tv Show</th>
                                    <th>Appeared in seasons</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="speaker in SpeakerCtrl.speakers">
                                    <td>{{speaker.name}}</td>
                                    <td>{{speaker.number_of_replicas}}</td>
                                    <td>{{speaker.replicas_length_max}}</td>
                                    <td>{{speaker.replicas_length_min}}</td>
                                    <td>{{speaker.replicas_length_avg.toFixed(2)}}</td>
                                    <td>{{speaker.replicas_length_med}}</td>
                                    <td>{{speaker.replicas_length_total}}</td>
                                    <td>{{((speaker.replik_percentage)*100).toFixed(2)}} %</td>
                                    <td>{{((speaker.word_percentage)*100).toFixed(2)}} %</td>
                                    <td>{{speaker.appeared_in_seasons.sort(sort_numbers).join()}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Character Network</h3>
                        <span class="pull-right clickable"><i
                                class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body" id="force-directed-graph-body">
                        <table class="">
                            <tr>
                                <td>Concomitant</td>
                                <td><label class="switch">
                                    <input id="concomidant-switch" type="checkbox"
                                           ng-model="checkboxModel.concomidant">
                                    <div class="slider round"></div>
                                </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Dominant</td>
                                <td>
                                    <label class="switch">
                                        <input id="dominating-switch" type="checkbox"
                                               ng-model="checkboxModel.dominating">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>Independent</td>
                                <td>
                                    <label class="switch">
                                        <input id="independent-switch" type="checkbox"
                                               ng-model="checkboxModel.independent">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <div id="force-directed-graph-speakers">
                            <div class="col-md-12" id="force-graph">
                            </div>
                            <button svg-download='#svg_character_network' title="CharacterNetworkFull" type="png">
                                Download as PNG
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>